<ng-container *ngIf=" isMenuExtended ">
    <div class="row mobile-menu">
        <div class="col-8 main">
            <button class="m-5" (click)=" collapse() "><img src="../../assets/images/icon-close.svg"></button>
            <div class="ms-5 mt-5">Collections</div>
            <div class="ms-5 mt-5">Men</div>
            <div class="ms-5 mt-5">Woman</div>
            <div class="ms-5 mt-5">About</div>
            <div class="ms-5 mt-5">Contact</div>
        </div>
        <div class="col transparent"></div>
    </div>
</ng-container>