@mixin align-item {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.c-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    &__preview {
        @include align-item;
        height: 100%;
        width: 50px;
    }

    &__info {
        height: 100%;
        width: 65%;
        margin-left: 50px;
        margin-right: 50px;
    }

    &__delete {
        @include align-nav-item;
        height: 100%;
        width: 50px;
    }

    &__img {
        width: auto;
        object-fit: contain;

        &--preview {
            height: 80px;
            border-radius: 25px;
        }

        &--delete {
            height: 40px;

            &:hover {
                cursor: grab;
            }
        }
    }

    &__txt {
        white-space: nowrap; //this prevents line breaks
        overflow: hidden; //this hides text that doesnt fit within the div
        text-overflow: ellipsis; //this adds the ellipsis to the cutoff point
    }
}