/* You can add global styles to this file, and also import other style files */
@import "./partials/button";
@import "./partials/navbar";
@import "./partials/mobile-menu";
@import "./partials/item";
@import "./partials/add-to-cart";
@import "./partials/cart";
@import "./partials/cart-item";
@import "./partials/lightbox";

* {
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    font-size: 2vh;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    min-width: 375px;
}

img {
    height: 3vh;
    width: auto;
}

.row {
    margin: 0;
}

.full-width {
    width: 100%;
}

.img-sizing {
    object-fit: contain;
    margin: auto;
}

.box {
    width: 100%;
    display: flex;
}

.cl {
    width: auto;
    padding: 0.5vw;
    margin-inline: 1vw;
}

.xl-conten-separator {
    display: block;
    height: 1px;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    width: 94%;
    margin-left: 3%;
}