/* You can add global styles to this file, and also import other style files */
@use "./util/index" as *;
@forward "./component/index";

* {
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    font-size: max(20px, 1.5vw);
    font-weight: 400;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    min-width: 375px;
}

img {
    height: 3vh;
    width: auto;
}

button {
    background-color: $--neutral-white;
    border: none;

    & :hover {
        cursor: grab;
    }
}

// Genral Stylings
.full-width {
    width: 100%;
}

.img-sizing {
    object-fit: contain;
    margin: auto;
}

.box {
    width: 100%;
    display: flex;
}

.xl-content-separator {
    display: block;
    height: 1px;
    border-top: 1px solid #ccc;
    padding: 0;
    width: 94%;
    margin-left: 3%;
}