/* Global styles */
@use "./util/index" as util;
@forward "./component/index";

* {
    box-sizing: border-box;
    font-family: 'Kumbh Sans';
    font-weight: 400;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    min-width: 375px;
}

img {
    height: 3vh;
    width: auto;
}

button {
    background-color: util.$neutral--white;
    border: none;

    & :hover {
        cursor: grab;
    }
}

.full-width {
    width: 100%;
}

.img-sizing {
    object-fit: contain;
    margin: auto;
}

.box {
    width: 100%;
    display: flex;
}

.xl-content-separator {
    display: block;
    height: 1px;
    border-top: 1px solid #ccc;
    padding: 0;
    width: 94%;
    margin-left: 3%;
}