<div class="item-box">
    <!-- <img class="item-img" src="../../assets/images/image-product-1.jpg"> -->

    <button class="caroussel-box left"><img class="navigation-img" src="../../assets/images/icon-previous.svg"></button>

    <button class="caroussel-box right"><img class="navigation-img" src="../../assets/images/icon-next.svg"></button>
</div>


<!-- <div class="row">
    <div class="col-1">
        <button class="my-auto"><img src="../../assets/images/icon-previous.svg"></button>
    </div>
    <div class="col-10">
        <img class="item-img" src="../../assets/images/image-product-1.jpg">
    </div>
    <div class="col-1">
        <button class="my-auto"><img src="../../assets/images/icon-next.svg"></button>
    </div>
</div> -->

<div class="container">
    <div class="item-header my-2">Sneaker Company</div>
    <div class="item-name mb-2">Fall Limited Edition Sneaker</div>
    <div class="item-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.</div>

    <div class="d-flex row mt-2 ">
        <div class="col-auto price">$ 125</div>
        <div class="col-auto discount">50%</div>
        <div class="col"></div>
        <div class="col-auto regular">$ 250</div>
    </div>
</div>