<!-- <nav class="navbar navbar-expand-lg bg-white bg-light">
    <div class="mx-5 navbar-brand bold fs-1 text-dark font-weight-bold">Sneakers</div>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Features</a>
            <a class="nav-item nav-link" href="#">Pricing</a>
            <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </div>
    </div>
</nav> -->

<!--Navbar-->
<components-navbar></components-navbar>