<div class="full-width">
    <!--Navbar-->
    <components-navbar [counter]=" cart.length ? cart[0].quantity : 0"></components-navbar>

    <!--Cart-->
    <ng-container *ngIf=" actionsService.openCart | async ">
        <component-cart [cart]="cart"></component-cart>
    </ng-container>
    <!--Item Page-->
    <div *ngIf=" !(actionsService.isMobile$ | async) " class="xl-conten-separator"></div>

    <component-item [cart]="cart"></component-item>
</div>

<component-lightbox *ngIf=" actionsService.isLightbox && !(actionsService.isMobile$ | async)" class="lightbox">
</component-lightbox>