<div class="row">
    <button class="col-2 nav-menu" (click)=" extendMenu() "><img src="../../assets/images/icon-menu.svg"></button>
    <div class="col-6 col-xl-3 company-name">Sneakers</div>
    <div class="col-xl-1 nav-item">Collections</div>
    <div class="col-xl-1 nav-item">Men</div>
    <div class="col-xl-1 nav-item">Woman</div>
    <div class="col-xl-1 nav-item">About</div>
    <div class="col-xl-1 nav-item">Contact</div>
    <div class="col nav-item"></div>

    <div class="col-2 col-xl-1 nav-icon">
        <div class="cartbox">
            <img src="../../assets/images/icon-cart.svg">
            <span *ngIf=" counter > 0 " class="item-indicator">{{ counter }}</span>
        </div>
    </div>
    <div class="col-2 col-xl-1">
        <div class="user-pic-container">
            <img class="user-pic" src="../../assets/images/girl.jpg">
        </div>
    </div>
</div>
<ng-container *ngIf=" isMenuExtended ">
    <component-mobile-menu [(isMenuExtended)]=" isMenuExtended "></component-mobile-menu>
</ng-container>