@use "./../util/abstract";

@mixin add-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    border-radius: 25px;

    @include abstract.respond-to-min('xl') {
        width: 40%;
    }
}

.add-bar {
    display: block;

    @include abstract.respond-to-min('xl') {
        display: flex;
    }

    &__container {
        &--quantity {
            @include add-container;
            background-color: abstract.$neutral--light-grayish-blue;
        }

        &--button {
            @include add-container;
            background-color: abstract.$primary--orange;
            padding: 2%;
        }
    }

    &__quantity-item {
        @include abstract.align;
        width: 33.3%;
        text-align: center;
        padding: 2%;
        font-weight: 700;
        font-size: abstract.$font-size-lg;
    }

    &__quantity-button {
        width: 5vw;

        @include abstract.respond-to-min('xl') {
            width: 2vw;
        }
    }

    &__quantity-img {
        width: abstract.$font-size-lg;
        height: auto;
    }

    &__button {
        text-align: center;
        background-color: inherit;
        width: 100%;
        color: abstract.$neutral--white;
        font-size: abstract.$font-size-md;
        font-weight: 700;
    }

}

.white-img {
    fill: white;
}