@use "./../util/abstract";

.c-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;

    &__preview {
        @include abstract.align;
        height: 100%;
    }

    &__info {
        width: 55%;
        margin: auto 1rem;
    }

    &__delete {
        @include abstract.align;
        height: 100%;
    }

    &__img {
        &--preview {
            width: auto;
            object-fit: contain;
            height: 5rem;
            border-radius: 25px;
        }

        &--delete {
            width: auto;
            object-fit: contain;
            height: 2.5rem;

            &:hover {
                cursor: grab;
            }
        }
    }

    &__txt {
        white-space: nowrap; //this prevents line breaks
        overflow: hidden; //this hides text that doesnt fit within the div
        text-overflow: ellipsis; //this adds the ellipsis to the cutoff point
    }
}