@use "./../util/abstract";

@mixin highligthed {
    color: abstract.$neutral--black;
    font-size: abstract.$font-size-xl;
    font-weight: 700;
}

.item-box {
    position: relative;
    z-index: 1;
}

.item-img {
    width: 100%;
    height: auto;

    @include abstract.respond-to-min('xl') {
        border-radius: 25px;
    }

    &.selected {
        border-color: abstract.$primary--orange;
        border-style: solid;
        border-width: 0.3rem;
        opacity: 0.7;
    }

    &:hover {
        cursor: grab;
    }
}

.caroussel {
    background-color: abstract.$neutral--white;
    border-radius: 50%;
    position: absolute;
    width: 5vw;
    height: 5vw;
    top: 50%;
    margin: 0;
    padding: 0;
    display: flex;

    &.left {
        left: 2vw;
    }

    &.right {
        right: 2vw;
    }

    &.lb-left {
        left: -2.5vw;
    }

    &.lb-right {
        right: -2.5vw;
    }

}

.navigation-img {
    width: 50%;
    height: 50%;
    object-fit: contain;
    margin: auto;
}

.item-name {
    @include highligthed;
}

.item-header {
    color: abstract.$primary--orange;
}

.item-info {
    color: abstract.$neutral--dark-grayish-blue;
    font-size: abstract.$font-size-md;
}

.price {
    @include highligthed;
}

.discount {
    background-color: abstract.$primary--pale-orange;
    color: abstract.$primary--orange;
    margin: auto;
    font-size: abstract.$font-size-md;
    font-weight: 700;
}

.regular {
    color: abstract.$neutral--dark-grayish-blue;
    margin: auto;
    font-size: abstract.$font-size-md;
    text-decoration: line-through;
}

.item-box-xl {
    display: flex;
}

.item-box-xl-unit {
    width: 50%;
    padding: 5%;
}

.caroussel-xl {
    display: flex;
    justify-content: space-between;
    margin-top: 1.25rem;
}

.caroussel-xl-item {
    width: 22%;
}