@use "./../util/abstract";

.row {
    margin: 0;
}

.cl {
    width: auto;
    padding: 0.5vw;
    margin-inline: 1vw;
    position: relative;
}

.active {
    display: none;
    border-bottom: abstract.$primary--orange solid;
    width: 100%;
    position: absolute;
    bottom: -1.7rem;
    left: 0;
}

.nav-item {
    @include abstract.align;
    color: abstract.$neutral--dark-grayish-blue;

    @include abstract.respond-to-max('xl') {
        display: none;
    }

    cursor: grab;

    &:hover {
        :first-child {
            display: block;
        }
    }
}

.nav-menu {
    @include abstract.align;

    @include abstract.respond-to-min('xl') {
        display: none;
    }
}

.nav-icon {
    @include abstract.align;

    margin-right: 2.5vw;
}

.nav-user {
    text-align: center;
    width: 100%;
    height: 4.5rem;
    display: flex !important;
    justify-content: center;
}

.nav-user-pic {
    width: auto;
    height: 60%;
    object-fit: contain;
    border-radius: 60%;
    margin-top: auto;
    margin-bottom: auto;
}

.company-name {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 5%;
    text-align: start;
    color: abstract.$neutral--black;
    font-size: abstract.$font-size-xxl;
    font-weight: 700;

    @include abstract.respond-to-min('xl') {
        font-size: abstract.$font-size-xl;
    }
}

.item-indicator {
    position: absolute;
    width: 25px;
    height: 25px;
    line-height: 25px;
    right: -12.5px;
    top: -12.5px;
    background-color: abstract.$primary--orange;
    border-radius: 50%;
    text-align: center;
    color: abstract.$neutral--white;
}

.cartbox {
    position: relative;

    & :hover {
        cursor: grab;
    }
}

.justify-end {
    justify-content: flex-end;
}