@use "./../util/index" as *;

@mixin add-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    border-radius: 25px;

    @include respond-to-min('xl') {
        width: 40%;
    }
}

.add-bar {
    display: block;

    @include respond-to-min('xl') {
        display: flex;
    }

    &__container {
        &--quantity {
            @include add-container;
            background-color: $--neutral-light-grayish-blue;
        }

        &--button {
            @include add-container;
            background-color: $--primary-orange;
            padding: 2%;
        }
    }

    &__quantity-item {
        @include align;
        width: 33.3%;
        text-align: center;
        padding: 2%;
        font-weight: 700;
        font-size: 36px;
    }

    &__quantity-button {
        width: 5vw;

        @include respond-to-min('xl') {
            width: 2vw;
        }
    }

    &__quantity-img {
        width: 100%;
        height: auto;
    }

    &__button {
        text-align: center;
        background-color: inherit;
        width: 100%;
        color: $--neutral-white;
        font-size: 26px;
        font-weight: 700;
    }

}

.white-img {
    fill: white;
}