@use "./../util/index" as *;

@mixin highligthed {
    color: $--neutral-black;
    font-size: max(33px, 2.5vw);
    font-weight: 700;
}

.item-box {
    position: relative;
    z-index: 1;
}

.item-img {
    width: 100%;
    height: auto;

    @include respond-to-min('xl') {
        border-radius: 25px;
    }

    &.selected {
        border-color: $--primary-orange;
        border-style: solid;
        border-width: 5px;
        opacity: 0.7;
    }

    &:hover {
        cursor: grab;
    }
}

.caroussel-box {
    background-color: $--neutral-white;
    border-radius: 50%;
    position: absolute;
    width: 5vw;
    height: 5vw;
    top: 50%;
    margin: 0;
    padding: 0;
    display: flex;

    &.left {
        left: 2vw;
    }

    &.right {
        right: 2vw;
    }

    &.lb-left {
        left: -2.5vw;
    }

    &.lb-right {
        right: -2.5vw;
    }

}

.caroussel-box.left {
    left: 2vw;
}

.caroussel-box.right {
    right: 2vw;
}

.navigation-img {
    width: 50%;
    height: 50%;
    object-fit: contain;
    margin: auto;
}

.item-name {
    @include highligthed;
}

.item-header {
    color: $--primary-orange;
}

.item-info {
    color: $--neutral-dark-grayish-blue;
}

.price {
    @include highligthed;
}

.discount {
    background-color: $--primary-pale-orange;
    color: $--primary-orange;
    margin: auto;
    font-weight: 700;
}

.regular {
    color: $--neutral-dark-grayish-blue;
    margin: auto;
    text-decoration: line-through;
}

.box-flex-wide {
    display: flex;
}

.flex-item-wide {
    width: 50%;
    padding: 5%;
}

.caroussel-box-xl {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.caroussel-box-xl-item {
    width: 22%;
}